/* =============================

    GENERAL STYLES

=============================*/

* {
  box-sizing: border-box;
}




/* =============================

    HEADER STYLES

=============================*/





/* =============================

        LINKS STYLES

=============================*/

nav {
  background-color: white;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  white-space: nowrap;
  vertical-align: middle;
}





/* =============================

        FOOTER STYLES

=============================*/

