<DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>
<body> 
  <nav>
    <ul>
      <li><a href = "https://zolko192.github.io/sites/components/button/button.html">Button</a></li>
      <li><a href = "https://zolko192.github.io/sites/components/footer/footer.html">Footer</a></li>
      <li><a href = "https://zolko192.github.io/sites/components/header/header.html">Header</a></li>
      <li><a href = "https://zolko192.github.io/sites/components/nav/nav.html">Nav</a></li>  
    </ul>
  </nav>
</body>
</html>