<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="description" content="Bootstrap Footers">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
  <title>Bootstrap Footers</title>
</head>
<body>
  <footer>
    <div class = "wrapper">
      <small>©2017 <strong>Awesome Company</strong>, All Rights Reserved</small>
      <nav class="footer-nav">
        <a href="#">Back to Top</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy</a>
      </nav>
    </div>
  </footer>
</body>
</html>