<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="description" content="Bootstrap Navs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" type="text/css" href="nav.css">
  <title>Components projects - Bootstrap Navs</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href = "#" class = "active">Home</a></li>
      <li><a href = "#">News</a></li>
      <li><a href = "#">Blog</a></li>
      <li><a href = "#">About-us</a></li>
      <li><a href = "#">Contant</a></li>
    </ul>
  </nav>
</body>
</html>